<style>

#starbuck {

}

.gameButton {
	width:8%;
	height:16%;
	
	position:absolute;
	background-color:#333388;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

.a {
	left:70%;
	top:40%;
}

.b {
	left:20%;
	top:40%;
}

.up {
	left:20%;
	top:20%;
}

.down {
	left:20%;
	top:4 0%;
}

.left {
	left:10%;
	top:40%;
}

.right {
	left:30%;
	top:40%;
}


</style>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />

<div id="starbuck">

	<div ng-click="buttonClick('a')" class="gameButton a"></div>
	<!--<div ng-click="buttonClick('b')" class="gameButton b"></div>-->
	
	<div ng-click="buttonClick('up')" class="gameButton up"></div>
	<div ng-click="buttonClick('down')" class="gameButton down"></div>
	<div ng-click="buttonClick('left')" class="gameButton left"></div>
	<div ng-click="buttonClick('right')" class="gameButton right"></div>
	
</div>