<html>


  <head>
    <link rel='stylesheet', href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js" />
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"/>
    <script src="/js/angularApp.js"/>
    <h1>DPU Controller</h1>
  </head>

  <body>

    <div ng-app='dpuApp'>
      <div ng-controller='dpuController'>
        <input type="button" ng-repeat="idx in arr track by $index" ng-disabled="xIs($index)" value="{{$index}}" ng-click="setX($index)">
	<br/>
        <input type="button" ng-repeat="idx in arr track by $index" ng-disabled="yIs($index)" value="{{$index}}" ng-click="setY($index)">
	<br/>
        <input type="button" ng-repeat="idx in arr track by $index" ng-disabled="zIs($index)" value="{{$index}}" ng-click="setZ($index)">
	<br/>				
        <input type="button" ng-click="toggleCurrentVoxel()">
        <div>'currentVoxel({{addressX}}, {{addressY}}, {{addressZ}})' ' is {{getCurrentVoxel()? "ON" : "OFF"}}'<div/>
      </div>
    </div>
  </body>
</html>
