extends layout

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js")
	
	script(src="/js/lib/d3.min.js")
	
	script(src="/js/dpuApp.js")
	
	script(src="/js/services/dpuFactory.js")
	script(src="/js/services/keyboardService.js")
	script(src="/js/games/starbuck.js")
	
	script(src="/js/directives/debugger.js")
	
block content
	div(ng-app='dpuApp')
		div(ng-controller='dpuController' style='overflow:hidden;')
		
			div(class='modebar')
				div(ng-repeat='m in modes')
					div(ng-click='setMode(m)' ng-class='{true:"modebutton selected", false:"modebutton unselected"}[isSelected(m)]') {{m.name}}
		
		
			div(ng-switch='mode.name' class='modearea')
			
			
				div(ng-switch-when='debugger')
					debugger
				
				div(ng-switch-when='animator') the animator
				div(ng-switch-when='starbuck') the starbuck
				div(ng-switch-when='battleship') the battleship
		
		//starbuck
		//div()
		//label DPU Controller Active:
		//input(type="checkbox" ng-model="isActive" ng-change="updateIsActive()")

		// br
		//div( style="display:inline-block;" )
		//div( ng-repeat="ix in arr track by $index" )
		//div( ng-repeat="iy in arr track by $index" style="display:inline-block;")
		//div( ng-class="{true:'voxel on', false:'voxel off'}[getVoxel($index, $parent.$index)]" ng-click="toggleVoxel($index, $parent.$index)")

		//div( style="display:inline-block; margin-left:20px;" )
		//div( ng-repeat="iz in arr track by $index" )
		//div( ng-class="{true:'voxel on', false:'voxel off'}[isAddress_z($index)]" ng-click="selectZ($index)")



