body {
  padding: 6px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}


.modebar{
	background-color:#555555;
	display: inline-flex;
	font-weight: bold;
}

.modearea{
	margin-top: 10px;
}

.modebutton{
	cursor:pointer;
	display:inline-block;
	padding: 8px 8px 8px 8px;
	/*margin: 4px 4px 4px 4px;*/
}

.modebutton.selected{
	background-color:#6688aa;
}

.modebutton.unselected{
	background-color:#555555;
}






.voxelrow{
	display:inline-flex;
}


.voxel {
	width:60px;
	height:60px;
	border: 1px solid #222222;
	display:inline-block;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	cursor:pointer;
}

.voxel.on {
	background-color:#224488;
}

.voxel.off {
	background-color:#333333;
}

#debugger{
	display:inline-flex;
}

#debugger .gridarea {
	background-color:#fff229;
	height:300px;
	width:50%;
}

#debugger .planearea {
	background-color:#222229;
	height:300px;
	width:50%;
}